@import '~antd/dist/antd.css';

/* Colors */
.stockpile-primary-color {
    color: #13C2C2;
}

.stockpile-secondary-color {
    color: #00203F;
}

.stockpile-sailor-blue-1 {
    color: #00203F;
}

/* Layouts */
.stockpile-content-container {
    height: 100%;
    width: 100%;
    padding: 24px 24px 24px 32px;
    display: flex;
    justify-content: center;
}